/* reset */

body {
    font-family: 'Ultra', serif;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 2rem 0;
}

.box-icon {
    width: 500px;
    position: relative;

}

img {
    width: 100%;
}

.scale:hover {
    scale: 1.5;
}

.fa-solid {
    font-size: 1.5rem;
}

.box-icon::before {
    display: inline-block;
    position: absolute;
    left: 95px;
    top: 13px;
    content: "";
    height: 4px;
    width: 25%;
    background-color: black;
    margin-bottom: 2rem;
}

.box-icon::after {
    display: inline-block;
    position: absolute;
    right: 95px;
    top: 13px;
    content: "";
    height: 4px;
    width: 25%;
    background-color: black;
    margin-bottom: 2rem;
}

.box-icon.white::before {
    display: inline-block;
    position: absolute;
    left: 95px;
    top: 13px;
    content: "";
    height: 4px;
    width: 25%;
    background-color: white;
    margin-bottom: 2rem;
}

.box-icon.white::after {
    display: inline-block;
    position: absolute;
    right: 95px;
    top: 13px;
    content: "";
    height: 4px;
    width: 25%;
    background-color: white;
    margin-bottom: 2rem;
}

/* debug */


/* header */
.bg-custom {
    background-color: #2C3E50 !important;
}

.white {
    color: white !important;

}

.green {
    background-color: #1ABC9C;
}

/* star-bootstrap */

.scuro {
    min-height: 100px;
    background-color: #3A546D;
}


.more-scuro {
    min-height: 100px;
    background-color: #2C3E50;
}


.gap {
    gap: 0.5rem;
}

#jumbotron {
    padding-top: 100px;
}

label {
    display: block;

}

input {
    width: 100%;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

textarea {
    width: 100%;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

input:focus {
    border-radius: 5px;
}

span {
    color: #1DB398
}

span>a:hover {
    color: #ff7300;

}

em {
    font-size: 15px;
}

/* buttons rules */

.glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}