/* reset */
ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 2rem 0;
}

.box-icon {
    width: 500px;
    position: relative;

}

img {
    width: 100%;
}

.box-icon::before {
    display: inline-block;
    position: absolute;
    left: 111px;
    top: 12px;
    content: "";
    height: 3px;
    width: 25%;
    background-color: black;
    margin-bottom: 2rem;
}

.box-icon::after {
    display: inline-block;
    position: absolute;
    right: 111px;
    top: 12px;
    content: "";
    height: 3px;
    width: 25%;
    background-color: black;
    margin-bottom: 2rem;
}

.box-icon.white::before {
    display: inline-block;
    position: absolute;
    left: 111px;
    top: 12px;
    content: "";
    height: 3px;
    width: 25%;
    background-color: white;
    margin-bottom: 2rem;
}

.box-icon.white::after {
    display: inline-block;
    position: absolute;
    right: 111px;
    top: 12px;
    content: "";
    height: 3px;
    width: 25%;
    background-color: white;
    margin-bottom: 2rem;
}

/* debug */


/* header */
.bg-custom {
    background-color: #2C3E50 !important;
}

.white {
    color: white !important;

}

.green {
    background-color: #1ABC9C;
}

/* star-bootstrap */
.about {
    height: 5rem;
    border: 1px solid black;
}

.scuro {
    min-height: 100px;
    background-color: #3A546D;
}


.more-scuro {
    min-height: 100px;
    background-color: #2C3E50;
}


.gap {
    gap: 0.5rem;
}

#jumbotron {
    padding-top: 100px;
}